<!DOCTYPE html>
<html lang="en">
<head>
    <title>Moroccan Art Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="left-half"></div>

        <div class="right-half">
            <h1>Digital Tiles, Moroccan Vibes</h1>
            <p>
              Welcome to a Digital Take on Moroccan Tiles
              <br>
              World of colors and patterns inspired by Moroccan tile art
            </p>
            <a href="/gallery">Moroccan Tile Gallery</a>
            <a href="/generate">Generate Your Tile</a>
            <a href="/imagefilter">Heritage Style Filter</a>
            <a href="/audiofilter">Audio Filter</a>
            <a href="/visualisation">Data Visualisation</a>
        </div>
    </div>
</body>
</html>


