<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualisation des Patrimoines</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <h1>Carte des Patrimoines</h1>
    <div>
        <button onclick="window.location.href='/heatmap/Artisanat'">Artisanat</button>
        <button onclick="window.location.href='/heatmap/Musique'">Musique</button>
        <button onclick="window.location.href='/heatmap/Architecture'">Architecture</button>
        <button onclick="window.location.href='/heatmap/Culture'">Culture</button>
    </div>

    <div>
        <h2>Carte des Patrimoines</h2>
        <img src="data:image/png;base64,{{ plot_url }}" alt="Carte du Patrimoine" />
    </div>
    {% if heatmap_url %}
    <div>
        <h2>Heatmap</h2>
        <img src="{{ heatmap_url }}" alt="Heatmap du Patrimoine" />
    </div>
    {% endif %}
</body>
</html>
